<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_smoi_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_smoi_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMOI"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Screens.ActivityActions.MemberFilterActivity"
            android:exported="true"
            />
        <activity
            android:name=".Screens.ActivityActions.ChangePasswordProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GMap.BuySilkMapsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.HomeGridFragments.BuySilkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GMap.TestSilkMapsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.HomeGridFragments.TestSilkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GMap.MemberMapsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.MemberListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.MemberDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.ChapterListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBZGaavYXG1eBZJS7VCLi3WraqOtpqzzE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GMap.ChapterMapsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.CreateLabelActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.RequestLabelsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.DistributionLabelsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.AvailableLabelsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.LabelListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.ExpoDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.ExpoListForStallBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.StallNoBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.StallBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.UpdateStallActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.StallListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.StallRentBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.ExpoBookingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.GalleryDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.GalleryListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.UploadGalleryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.ViewProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.UpdateProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Authorization.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Authorization.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Authorization.VerifyOtpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Authorization.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.ActivityActions.ChapterDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screens.Authorization.WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SMOI.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.Authorization.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.iipl.smoi"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>